
###> symfony/framework-bundle ###
.env
.phpunit.xml
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> https://www.gitignore.io/api/phpstorm ###
.idea/
.DS_Store
###< https://www.gitignore.io/api/phpstorm ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
